.collapsible-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.content {
    padding: 0 18px;
    overflow: hidden;
    max-height: 1000vh;
    transition: max-height 0.2s ease-out;
}

.collapsible-div .collapsed {
    max-height: 0;
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
}

.material-symbols-outlined {
    transition: 0.2s ease-out;
}