:root[data-theme="light"] {
    --nav-bg: #E6E6E6;
    --nav-text: #333;
    --nav-hover: #000000;
    --nav-toggle-color: #1e1e1e;
    --nav-toggle-hover: #000000;
}

:root[data-theme="dark"] {
    --nav-bg: #27292B;
    --nav-text: #E8E6E3;
    --nav-hover: #ffffff;
    --nav-toggle-color: #E8E6E3;
    --nav-toggle-hover: #ffffff;
}

header {
    position: sticky;
    top: 0;
}

.navbar {
    position: relative;
    background: var(--nav-bg);
    color: var(--nav-text);
    width: 100%;
}

.navbar ul {
    padding: 0;
    margin: 0;
}

.nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    margin-right: 16px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 16px;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 60px;
}

.nav-logo img {
    width: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li a {
    text-decoration: none!important;
    color: var(--nav-text);
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: var(--nav-hover);
}

.nav-toggle {
    display: none;
    font-size: 1.8rem;
    background: none;
    color: var(--nav-toggle-color);
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.nav-toggle:hover {
    color: var(--nav-toggle-hover);
}

.nav-toggle-theme {
    border-radius: 200px;
    border: none;
    cursor: pointer;
    background: none;
    color: var(--nav-toggle-color);
}

.nav-toggle-theme:hover {
    color: var(--nav-toggle-hover);
}

@media (max-width: 600px) {
    .nav-toggle {
        display: block; 
    }

    .nav-left {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .nav-right.absolute {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (max-width: 480px) {
    header img {
        width: 40px;
    }
}