:root[data-theme="light"] {
    --app-card-bg: #f5f5f5;
    --app-card-bg-hover: #ebebeb;
    --app-card-text: #333;
    --app-card-subtitle: #646464;
    --app-card-border: #ddd;
}

:root[data-theme="dark"] {
    --app-card-bg: #222425;
    --app-card-bg-hover: #2a2c2d;
    --app-card-text: #E8E6E3;
    --app-card-subtitle: #c8c8c8;
    --app-card-border: #282828;
}

.redirectAppCard {
    display: flex;
    background: var(--app-card-bg);
    color: var(--app-card-text);
    border-radius: 12px;
    padding: 16px;
    gap: 16px;
    text-decoration: none;
    position: relative;
}

.redirectAppCard:hover {
    background: var(--app-card-bg-hover);
}

.cardStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardStart .image {
    width: 50px;
    object-fit: contain;
}

.cardMiddle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    flex: 1;
}

.cardMiddle div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cardTitle {
    margin: 0;
}

.appVersion {
    color: var(--app-card-subtitle);
    font-size: 14px;
}

.cardEnd {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@media (max-width: 600px) {
    .redirectAppCard {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .cardStart {
        flex-direction: row;
        width: 100%;
    }

    .cardStart .image {
        width: 80px;
        height: 80px;
    }

    .cardEnd {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}