@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root {
    --white: #fff;
    --black: #181A1B;
    --primary: #697088;
    --primary-hover: #5f6678;
}

:root[data-theme="light"] {
    --bg: var(--white);
    --text: #333;
    --link: #284871;
}

:root[data-theme="dark"] {
    --bg: var(--black);
    --text: #E8E6E3;
    --link: #96BADA;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 10vw;
    min-height: 100vh;
    padding-bottom: 50px;
}

a {
    color: var(--link);
    text-decoration: underline;
    font-weight: normal;
    cursor: pointer;
}

li {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

hr {
    border: 0;
    margin: 0;
    height: 1px;
    background: #b4b4b4;
}