footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding-block: 30px;
    padding-inline: 20px;
    position: relative;
    bottom: 0;

}

footer a {
    color: #b1b1b1;
}