@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    color: #333;
}

header {
    display: flex;
    gap: 8px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 40px;
    min-height: 100vh;
    padding-bottom: 50px;
}

a {
    color: #284871;
    text-decoration: underline!important;
    font-weight: normal!important;
}

/* Mobile */
@media only screen and (max-width: 480px) {
    body {
        font-size: 0.9rem;
    }

    h1 {
        color: #333;
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1rem;
    }
}