@import url("global.css");
@import url("header.css");
@import url("footer.css");

main ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.app-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app-section > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.android-app-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.ios-app-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.app-logo {
    width: 22px;
}

.info-text {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 4px;
    color: #646464;
}

.info-text span {
    font-size: 18px!important;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-section form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.75rem 1rem;
    align-items: center;
}

.form-section label {
    text-align: left;
}

.form-section input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.form-section select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: min-content;
}

.send-button {
    background-color: #284871;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    grid-column: 1;
}